---
// Component Imports
import Layout from "../layouts/main.astro";
import LatestPostPreview from "../components/LatestPostPreview.astro";
import PostPreview from "../components/PostPreview.astro";
import Updates from "../components/Updates.astro";
import { getAllPosts, getLatestPost } from "../prismic";

const [posts, latestPost] = await Promise.all([getAllPosts(), getLatestPost()]);
---

<Layout>
  <div class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-12 gap-6 md:gap-12">
    <div class="col-span-1 md:col-span-4 lg:col-span-8">
      <LatestPostPreview
        title={latestPost.data.title!}
        summary={// @ts-ignore
        latestPost.data.summary ? latestPost.data.summary[0]?.text : ""}
        thumbnail={latestPost.data.thumbnail.url!}
        thumbnail_alt={latestPost.data.thumbnail.alt!}
        url={latestPost.uid!}
        tags={latestPost.tags}
        publicationDate={latestPost.first_publication_date}
      />
    </div>

    <div class="block col-span-1 md:col-span-2 lg:col-span-4">
      <Updates />
    </div>

    <div class="col-span-1 md:col-span-6 lg:col-span-12">
      {
        posts.slice(1).map((post) => (
          <PostPreview
            title={post.data.title!}
            summary={
              // @ts-ignore
              post.data.summary ? post.data.summary[0]?.text : ""
            }
            thumbnail={post.data.thumbnail.url!}
            thumbnail_alt={post.data.thumbnail.alt!}
            url={post.uid!}
            tags={post.tags}
            publicationDate={post.first_publication_date}
          />
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .clipped-tr-lg {
    -webkit-clip-path: polygon(90% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(90% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
  }
  .clipped-tr-md {
    -webkit-clip-path: polygon(90% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(90% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
  }
  .clipped-tr-sm {
    -webkit-clip-path: polygon(92% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(92% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
  }

  .mono {
    font-family: "Space Mono", monospace;
  }
</style>
