---
// Component Imports
import Layout from "../layouts/main.astro";
import PostPreview from "../components/PostPreview.astro";
import { getAllPosts } from "../prismic";

const posts = await getAllPosts();
// console.log(
//   JSON.stringify(
//     posts.map((post) => ({
//       uid: post.uid,
//       title: post.data.title,
//     })),
//     null,
//     2
//   )
// );

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 place-items-center content-center p-6"
  >
    {
      posts.map((post) => (
        <PostPreview
          title={post.data.title}
          summary={post.data.summary ? post.data.summary[0]?.text : ""}
          thumbnail={post.data.thumbnail.url}
          url={post.uid!}
          tags={post.tags}
          publicationDate={post.first_publication_date}
        />
      ))
    }
  </div>
</Layout>
