---
// Component Imports
import Layout from "../layouts/main.astro";
import LatestPostPreview from "../components/LatestPostPreview.astro";
import PostPreview from "../components/PostPreview.astro";
import { getAllPosts, getLatestPost } from "../prismic";

const [posts, latestPost] = await Promise.all([getAllPosts(), getLatestPost()]);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 place-items-center content-center gap-6 md:gap-12"
  >
    <div class="col-span-1 md:col-span-2 lg:col-span-7">
      <LatestPostPreview
        title={latestPost.data.title!}
        summary={// @ts-ignore
        latestPost.data.summary ? latestPost.data.summary[0]?.text : ""}
        thumbnail={latestPost.data.thumbnail.url!}
        url={latestPost.uid!}
        tags={latestPost.tags}
        publicationDate={latestPost.first_publication_date}
      />
    </div>

    <div class="col-span-1 md:col-span-2 lg:col-span-7">
      {
        posts.map((post) => (
          <PostPreview
            title={post.data.title!}
            summary={
              // @ts-ignore
              post.data.summary ? post.data.summary[0]?.text : ""
            }
            thumbnail={post.data.thumbnail.url!}
            url={post.uid!}
            tags={post.tags}
            publicationDate={post.first_publication_date}
          />
        ))
      }
    </div>
  </div>
</Layout>
