<div class="mx-auto flex min-h-screen max-w-screen-sm items-center justify-center">
  <div class="w-full rounded-lg bg-gradient-to-r from-cyan-500 via-blue-500 to-purple-500 p-0.5">
    <div class="h-full w-full rounded-md bg-white p-3 back">
      <slot />
    </div>
  </div>
</div>
