---
import { getAllUpdates } from "../prismic";

const updates = await getAllUpdates();
---

<div class="p-3 bg-violet-700 max-h-fit">
  <h2 class="text-2xl lg:text-4xl font-bold mb-3 text-teal-300">Updates</h2>
  <ul class="text-sm lg:text-base">
    {
      updates.slice(0, 5).map((update, idx) => (
        <li class="relative mb-3 border-b border-teal-400 pb-1 before:inline-block before:content-[] last:mb-0">
          <span class="inline-flex h-[25px] w-[25px] content-center justify-center rounded-full bg-purple-900 pt-[2.5px] text-center text-sm">
            <span class="mono inline-block">{idx}</span>
          </span>
          <span class="inline">
            {
              // @ts-ignore
              update.data.url.url ? (
                // @ts-ignore
                <a href={update.data.url.url}>
                  {update.data.title}&nbsp;&#x2197;
                </a>
              ) : (
                <span class="inline">{update.data.title}</span>
              )
            }
          </span>
        </li>
      ))
    }
  </ul>
</div>
