---
import FooterIcons from "./FooterIcons.astro";
---

<footer class="bg-[#131313] bottom-0 left-0 absolute w-full">
  <hr class="border-gray-200 sm:mx-auto dark:border-gray-700" />
  <div class="container flex flex-wrap-reverse justify-center mx-auto py-3">
    <p class="text-sm text-gray-400 text-center w-full md:w-fit mt-3 md:mt-0">
      &copy; <a
        href="https://leveor.xyz"
        target="_blank"
        class="hover:underline">Leveor</a
      >. All Rights Reserved.
    </p>

    <div class="flex md:hidden justify-center space-x-6">
      <FooterIcons />
    </div>
  </div>
</footer>
