---
import FooterIcons from "./FooterIcons.astro";
---

<div
  class="hidden sticky top-0 h-screen md:flex md:flex-col justify-between items-center w-20 flex-grow flex-shrink-0 bg-violet-700"
>
  <a href="/" title="Home Page">
    <img src="/logo.png" alt="Leveor Logo" class="w-20 h-20 object-cover" />
  </a>

  <div class="flex flex-col space-y-6 mb-8">
    <FooterIcons />
  </div>
</div>
