---
import { getAllCategories } from "../../prismic";
import Menu from "./Menu.svelte";

const categories = await getAllCategories();
---

<nav
  class="h-16 md:h-20 flex flex-wrap justify-between items-center bg-[#000] mb-6 md:pl-3 md:pr-12 lg:pr-24"
>
  <a href="/" class="flex flex-row items-center">
    <img
      src="/logo.png"
      alt="Leveor Logo"
      class="block md:hidden w-16 h-16 object-cover mr-2"
    />
    <h1 class="text-4xl font-bold text-center">Blog</h1>
  </a>

  <Menu categories={categories} client:visible />

  <div class="hidden md:flex text-md md:text-xl">
    {
      categories.map((c) => (
        <a
          class="relative transform-gpu pl-3 font-bold
							transition-all before:inline-block before:pr-1 before:content-['/'] first-of-type:pl-0 hover:text-teal-300 md:pl-6"
          href={`/category/${c.uid}`}
        >
          {c.data.title}
        </a>
      ))
    }
  </div>
</nav>
