---
import { getAllCategories } from "../prismic";
const { title } = Astro.props;

const categories = await getAllCategories();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ?? "Blog | Leveor"}</title>
  </head>
  <body class="h-screen bg-gray-900 text-gray-50">
    <div class="flex justify-end items-center py-3 px-6">
      <h1
        class="text-4xl font-bold text-center bg-gradient-to-r from-teal-400 via-sky-400 to-purple-400 bg-clip-text text-transparent pr-6"
      >
        Blog | Leveor
      </h1>
      {
        categories.map((c) => (
          <a
            class="text-xl relative pl-6 font-light
							before:inline-block before:content-['/'] before:pr-1
							hover:bg-gradient-to-r
							hover:from-teal-400 hover:via-sky-400 hover:to-purple-400
							hover:bg-clip-text hover:text-transparent"
            href={`/category/${c.uid}`}
          >
            {c.data.title}
          </a>
        ))
      }
    </div>
    <slot />
  </body>
</html>
