---
export type Props = {
  title?: string;
  summary?: string;
  tags?: string[];
};

import "@fontsource/raleway";
import "@fontsource/space-mono";
import { getAllCategories } from "../prismic";
const { title, summary, tags } = Astro.props;

const categories = await getAllCategories();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ?? "Blog | Leveor"}</title>
    <meta
      name="description"
      content={summary ??
        "Leveor's blog - where we write about the stuff we do"}
    />
    {tags && <meta name="keywords" content={tags?.join(",") ?? ""} />}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body
    class="min-h-screen bg-[#131313] text-gray-50 pb-3 md:pb-6 lg:pb-12 px-6 md:px-12 lg:px-24"
  >
    <nav
      class="flex flex-wrap justify-center md:justify-end items-center py-3 pb-6 md:pb-9 px-6"
    >
      <a href="/">
        <h1
          class="text-4xl font-bold text-center bg-gradient-to-r from-teal-400 via-sky-400 to-purple-400 bg-clip-text text-transparent pr-0 md:pr-6 pb-3 md:pb-0"
        >
          Blog | Leveor
        </h1>
      </a>

      <div class="flex text-md md:text-xl">
        {
          categories.map((c) => (
            <a
              class="relative pl-3 font-light before:inline-block before:pr-1
							before:content-['/'] first-of-type:pl-0 hover:bg-gradient-to-r
							hover:from-teal-400
							hover:via-sky-400 hover:to-purple-400 hover:bg-clip-text
							hover:text-transparent md:pl-6"
              href={`/category/${c.uid}`}
            >
              {c.data.title}
            </a>
          ))
        }
      </div>
    </nav>
    <slot />
    <style is:global>
      html {
        font-family: "Raleway", sans-serif;
      }
      time,
      pre,
      code {
        font-family: "Space Mono", monospace;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Space Mono", monospace;
        font-weight: 900;
        color: #fff;
      }
    </style>
  </body>
</html>
